<meta charset="utf-8" />
<title>@ViewBag.title | @sharedResource["Mano Tourism Dashboard"] </title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="@sharedResource["Mano Tourism Dashboard"]" name="description" />
<meta content="Themesbrand" name="author" />
<!-- App favicon -->
<link rel="shortcut icon" href="~/public/Img/logo_new.jpg">
